.product_rating{
    display:flex;
    flex-direction:row;
    margin-top:5px;
}
.product_image{
    width:100%;
    max-width:150px;
    height:250px;
   
}
.product{
    display:flex;
    flex-direction:column;
    background-color:whitesmoke;
    width:100%;
    height:400px;
    margin-left:10px;
    margin-right:10px;
    padding:20px;
    z-index:1;
    align-items:center;

}
.product_info{
    align-items:start;
    width:100%;
    height:100px;
    margin-bottom:15px;

}
.product_price{
    margin-top:5px;
}
.addToCart_btn{
    margin-top:20px;
    background-color:#f0c14b;
    border:1px solid black;
    color:#111;
    border-color:#a88734 #9c7e31 #846a29
}